.why-fe-vietnam .why-fe-title {
  font-weight: 900;
  padding-top: 100px;
  font-size: 60px;
  margin-bottom: 40px;
}
.why-fe-vietnam {
  flex-direction: column;
}
.why-fe-vietnam.module {
  padding: 60px 0px;
}
.why-fe-vietnam.module h1 {
  color: white;
}
.why-fe-vietnam.module h5 {
  color: #ffc0c7;
}
.why-fe-vietnam.module p {
  color: white;
}
.why-fe-vietnam .module-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.why-fe-vietnam .module-list .module-container {
  width: 90%;
}
.why-fe-vietnam .module-list .module-container .module-item {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-fe-vietnam .module-list .module-container .module-item img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
}
.why-fe-vietnam .module-list .module-container .module-item h5 {
  font-weight: 700;
}
.why-fe-vietnam .module-list .module-container .module-item p {
  font-size: 20px;
}
.why-fe-vietnam .module-list .module-container .module-item h5,
.why-fe-vietnam .module-list .module-container .module-item p {
  text-align: center;
}
